[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pigpio = "*"

[packages]
pygame = "*"
opencv-python-headless = "*"
gpiozero = "*"
numpy = "*"
picamera = {version = "*",sys_platform = "== 'armv7l'"}

[requires]
python_version = "3.6"
